.container-partition {
  display: flex;
  text-align: center;
  background: rgba(0, 27, 45, 0.9);
  position: absolute;
  font-family: fantasy
}

.rectangle-red {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  margin-right: 100px;
  text-align: center;
  line-height: 100px;  
  color: white;
  font-size: 150%;
  font-family: fantasy
}

.rectangle-green {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: green;
  margin: auto;
  text-align: center;
  line-height: 100px;  
  color: white;
  font-size: 150%;
  font-family: fantasy
}